.group-selector {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    left: 0;
}

.display-button {
    background-color: #838383;
    color: white;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 30px;
    display: block;
}

.display-button:hover {
    background-color: #494a4b;
}

.dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1;
    margin-top: 10px;
    left: -31.81px;
    width: 160px;
    border-radius: 10px;
}

.grouping-options, .sorting-options {
    font-size: 20px;
}